<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="leftSidebar">
        <div class="leftSidebarBox">home</div>
        <div class="leftSidebarBox">reels</div>
        <div class="leftSidebarBox">friend</div>
        <div class="leftSidebarBox">group</div>
        <div class="leftSidebarBox">community</div>
        <div class="leftSidebarBox">message</div>
        <div class="leftSidebarBox">produts</div>
        <div class="leftSidebarBox">home</div>
        <div class="leftSidebarBox">reels</div>
        <div class="leftSidebarBox">friend</div>
        <div class="leftSidebarBox">group</div>
        <div class="leftSidebarBox">community</div>
        <div class="leftSidebarBox">message</div>
        <div class="leftSidebarBox">produts</div>
    </div>
</body>

</html>