body {
    background: #000000;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    z-index: 1 !important;
    position: fixed;
    width: 100%;
}

.nav-item a {
    font-weight: 700 !important;
}

/* sidebar */
/* leftSidebar */
.leftSidebar {
    width: 20rem;
    height: 100vh;
    border-right: 0.2px solid white;
    font-weight: 900;
    position: fixed;
    left: 0;
    top: 56px;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.leftSidebarBox {
    height: 50px;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: all 0.6s ease;
    color: white;
    text-transform: capitalize;
}

.leftSidebarBox:hover {
    background-color: rgba(245, 245, 245, 0.19);
    cursor: pointer;
}

/* rigntSidebar */
.rigntSidebar {
    width: 20rem;
    height: 100vh;
    border-left: 0.2px solid white;
    font-weight: 900;
    position: fixed;
    right: 0;
    top: 56px;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.rigntSidebarBox {
    height: 50px;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: all 0.6s ease;
    color: white;
    text-transform: capitalize;
}

.rigntSidebarBox:hover {
    background-color: rgba(245, 245, 245, 0.19);
    cursor: pointer;

}

/* mainPage */
.mainPage {
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 50rem;
    margin: 0 auto;
}

/* .containerBox {
    width: 100vh;
    height: 100%;
    background: #f80000;
    position: absolute;
    z-index: 22;
} */

.card {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.448);
    width: 60vh;
    height: fit-content;
    padding: 20px;
    margin: 15px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
}

.card .user {
    width: 100%;
    text-align: start;
}

.card .time {
    margin-left: 10px;
    font-size: 14px;
}

.card .post {
    margin: 10px 0px;
}

.card .post img {
    height: 70vh;
}

.card .like {
    width: 100%;
    text-align: start;
}

.card .caption {
    width: 100%;
    text-align: start;
}

.card .comments {
    width: 100%;
    text-align: start;
}

.card .showBtn {
    rotate: 90deg;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
}

.card .showBtnLinks {
    position: absolute;
    margin: 0 auto;
    border: 0.6px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 85px;
    transition: all 0.1s ease-in;
    opacity: 0;
}

.userProfilePic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* showPage */
.showPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    width: 50rem;
    margin: 0 auto;
}

.showCard {
    width: 60%;
    height: fit-content;
    padding: 20px;
    margin: 15px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    background-color: white;
}


.showCard .user {
    width: 100%;
    text-align: start;
}

.showPageUserProfilePic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.showCard .time {
    margin-left: 10px;
    font-size: 14px;
}

.showCard .post {
    margin: 10px 0px;
}

.showCard .post img {
    height: 70vh;
}

.showCard .like {
    width: 100%;
    text-align: start;
}

.showCard .caption {
    width: 100%;
    text-align: start;
}

.showCard .comments {
    width: 100%;
    text-align: start;
}

.showCard .showBtn {
    rotate: 90deg;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
}

.showCard .showBtnLinks {
    position: absolute;
    margin: 0 auto;
    border: 0.6px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 85px;
    transition: all 0.1s ease-in;
    opacity: 0;
}

.showCard .showBtnLinks a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
}

.showCard .showBtnLinks a:hover {
    color: gray;
}

/* editPage */
.editPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    width: 50rem;
    margin: 0 auto;
    color: white;
}

/* userProfile */
.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    width: 50rem;
    margin: 0 auto;
    color: white;
}

/* createPost */
.createPost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 50rem; */
    margin-top: 30px;
    background: white;
    border-radius: 10px;
}